<div class="post">
    <h4><%= post.title %></h4>
    <p><%= post.description %></p>
    <p>
        <small>Created <%= time_ago_in_words(post.created_at) %> ago 
            <% if user_signed_in? %>
                by <%= post.user.email %>
            <% end %>    
        </small>
    </p>
        
    <% if current_user == post.user %>
        <%= link_to "Edit post", edit_post_path(post) %>
        <%= button_to "Delete Post", post_path(post), method: :delete %>
    <% end %>
</div>